/*created by: Madison Jurgens*/
/*date: 12/01/2025           */
/*file name: styles.css      */

/* CSS Reset */
body, header, nav, main, footer, img, h1, h3, ul{
  margin: 0;
  padding: 0;
  border: 0;
}

/* Images and body */
img {
  max-width: 100%;
  display:block;
}

body {
  font-family: Figtree, sans-serif;
  background: linear-gradient(#396431, #82c469);
}
#wrapper {
  max-width: 1200px;
  border: solid 2px #000;
  margin: 0 auto;
  background: #fff;
}

/* Nav */
nav {
  background-color:#396431;
}
nav ul {
  list-style-type: none;
  text-align: center;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
nav li {
  display: inline-block;
}
nav li a {
  padding-right: 2em;
  padding-left: 2em;
  font-weight: bold;
  text-decoration: none;
  color: white;
}
nav li a:hover {
  text-decoration: underline;
}

/* Main */
section {
  padding: 3%;
}
.grid {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 2em;
  padding-bottom: 2%;
}
.gallery {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 1em;
  padding-bottom: 2%;
}
figure {
  margin: 2%;
}
.card {
  background-color: #82c469;
  padding: 1em;
  box-shadow: #396431 5px 5px 5px;
}
#community {
  background-color:rgba(57,100,49,0.25);
}

/* Font styling */
h1 {
  font-family: 'Eagle Lake', serif;
}
p {
  font-size: 1.15em;
}
a:hover {
  text-decoration: none;
}

/*Media query for mobile*/
@media screen and (max-width: 599px) {
  /* Main */
  section {
    padding: 5%;
  }
  .grid {
    grid-template-columns: auto;
  }
  .gallery {
    grid-template-columns: auto auto;
    grid-column-gap: 1em;
  }
  main img {
    padding-bottom: 2%;
  }
}