/*created by: Madison Jurgens*/
/*date: 12/01/2025           */
/*file name: styles.css      */
/* Variables */
/* I used variables for font color: source https://www.w3schools.com/css/css3_variables.asp */
:root {
  --darkGreen: #396431;
  --lightGreen: #82c469;
}

/* CSS Reset */
body, header, nav, main, footer, img, h1, h3, ul{
  margin: 0;
  padding: 0;
  border: 0;
}

/* Hide Mobile */
.mobile {
  display:none;
}

/* Images and body */
img {
  max-width: 100%;
  display:block;
}

body {
  font-family: Figtree, sans-serif;
  background: linear-gradient(#396431, #82c469);
}
#wrapper {
  max-width: 1200px;
  border: solid 2px #000;
  margin: 0 auto;
  background: #fff;
}

/* Nav */
nav {
  background-color:var(--darkGreen);
}
nav ul {
  list-style-type: none;
  text-align: center;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
nav li {
  display: inline-block;
}
nav li a {
  padding-right: 2em;
  padding-left: 2em;
  font-weight: bold;
  text-decoration: none;
  color: white;
}
nav li a:hover {
  text-decoration: underline;
}

/* Main */
section {
  padding: 3%;
}
.grid {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 2em;
  padding-bottom: 2%;
}
.gallery {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 1em;
  padding-bottom: 2%;
}
figure {
  margin: 2%;
}
.card {
  background-color: var(--lightGreen);
  padding: 1em;
  box-shadow: var(--darkGreen) 5px 5px 5px;
}
blockquote.card {
  padding: 0.25em 1em;
  margin: 1em 0;
}
#community {
  background-color:rgba(57,100,49,0.25);
}
table {
    border: 1px solid var(--darkGreen);
    border-collapse:collapse;
    margin: 0 auto;
    width: 100%;
  }
  th, td {
    border: 1px solid var(--darkGreen);
  }
  th {
    background-color: var(--darkGreen);
    color: #fff;
    font-size: 1.15em;
  }
  td {
    text-align: center;
  }

/* Font styling */
h1 {
  font-family: 'Eagle Lake', serif;
}
p {
  font-size: 1.15em;
}
a:hover {
  text-decoration: none;
}

/* Footer */
footer {
  background: var(--darkGreen);
  color: #fff;
  padding: 5%;
}

/*Media query for mobile*/
@media screen and (max-width: 599px) {
  /* Show mobile and hide desktop */
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }

  /* Nav */
  nav ul {
    padding: 0;
  }
  nav li {
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: solid 1px #fff;
  }

  /* Main */
  section {
    padding: 5%;
  }
  .grid {
    grid-template-columns: auto;
  }
  .gallery {
    grid-template-columns: auto auto;
    grid-column-gap: 1em;
  }
  main img {
    padding-bottom: 2%;
  }
  ul {
    padding-left: 5%;
    padding-bottom: 5%;
  }

}